.main-content {
    margin: 4rem 2.5rem;
    grid-row: 2/3;
    /* display: flex; */
   
}
.main-footer {
    grid-row: 3/4;
    padding: 0;
}
div#root {
    display: grid;
    height: 100%;
    grid-template-rows: 3.5rem auto 5rem;
}